{% if theme_extra_nav_links %}
<hr />
<p class="caption"><span class="caption-text">{{ _('External links') }}</span></p>
<ul>
    {% for text, uri in theme_extra_nav_links.items() %}
    <li class="toctree-l1"><a href="{{ uri }}">{{ text }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<hr />
<p class="caption"><span class="caption-text">Articles</span></p>
{{ toctree(includehidden=theme_sidebar_includehidden, collapse=theme_sidebar_collapse) }}
